{% extends 'base.html' %}
{% block content %}

<div class="container-fluid"style="background-color:Chartreuse;width:100%; height:200px; margin-bottom:50px;padding:50px">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <div class="header-text" style="color:purple"; align="center";>
                    <h1 class="todo" style="font-size:50px; font-family:Gabriola">TODO APP</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style=" background:linear-gradient(#CDF0EA,#F9F9F9,#F6C6EA,#FAF4B7);">
    <div class="row">
        <div class="col-md-6">
        <form method="POST" class="p-3 shadow">
          {% csrf_token %}
            <div class="form-group">
     <input type="text" class="form-control" name="task" placeholder="Task Name">
</div>
<div class="form-group">
     <input type="text" class="form-control" name="priority" placeholder="Priority">
</div>
            <div class="form-group">
     <input type="date" class="form-control" name="date" placeholder="Enter Date">
</div>





    <input type="submit" class="btn btn-success">

            </form>




    </div>
        <div class="col-md-6">
            <h4 class="head" style="font-size:30px; font-family:Verdana Pro; color:Navy">TASK TO BE COMPLETED...</h4>
             {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title" style="font-family:Marker Felt;">{{i.name}}</h5>
                    <p class="card" style="font-family:Marker Felt">{{i.priority}}</p>
                     <p class="title" style="font-family:Marker Felt">{{i.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">DELETE</a>
                      <a class="btn btn-warning" href="{% url 'update' i.id %}">UPDATE</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
